@CHARSET "UTF-8";

#container {
	width: 100%;
}

#head {
	height: 200px;
	text-align: center;
	background-color: gray;
}

#head h1 {
	display: inline-block;
}

#footer {
	height: 100px;
	background-color: aqua;
}

.error, .formError {
	color: red;
	font-size: small;
}

.login, .loginControl {
	color: white;
	float: right;
	position: relative;
	top: 20px;
	right: 10px;
	display: inline-block;
}